In [1]:
import sqlite3
import pandas as pd

try:
    conn=sqlite3.connect(r"epfl.db")
    df=pd.read_sql("SELECT * FROM product", conn)
    print(df)
    conn.close()
except Exception as ex:
    print(ex)

       name  price  qty
0     Prod1   56.7   12
1     Prod2   57.8   19
2   prod400   88.9   34
3    Prod99   57.8   19
4      TATA    7.8   10
5     TATA1    7.8   10
6     TATA2    7.8   10
7     TATA3    7.8   10
8     TATA7    7.8   10
9   prod408   88.9   34
10    Hello    4.5   67