## Pandas exercises

### Step 1:
    
Use the **`babynames.csv`** file to create a DataFrame.

Print some information about the DataFrame and it's first five rows.

### Step 2:

Delete the column **`Id1`** and **`Id2`**

### Step 3:

Are there more male or female names in the dataset (use the column "Gender")?

### Step 4:

How many different names exist in the dataset?

### Step 5:

What is the name with most occurrences?

### Step 6:

How many different names have the least occurrences?

### Step 7:

Does the Name column contains any `NaN` value ?
What is the indexes of the corresponding rows?

### Step 8:

Remove the rows that contains a `NaN` value in the Name column

### Step 9:

List all the unique names that contain the sub-string **'ver'**:

### Step 10:

Convert the `Year` colum into `int`.

Count how many rows do concern year 2007 or 2008.

### Step 11:

Print the frequencies (use the columns "Name" and "Count") of the name `Denver` by year.